html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

div {
  color: rgba(247, 243, 242, 1);
  position: absolute;
  background-color: rgba(10, 10, 10, 0.95);
  font-family: "Lucida Console", Monaco, monospace;
  /*backdrop-filter: blur(5px);*/
}
div#box1 {
  /*left: 20px;*/
  top: 20px;
  width: 560px;
  height: 240px;
}
div#box2 {
  /*left: 20px;*/
  top: 280px;
  width: 520px;
  height: 160px;
}

@media (min-width: 520px) {
  div {
    left: 20px;
  }
}

p {
  font-size: 18px;
  line-height: 30px;
  margin-left: 20px;
}
h1, h2 {
  margin-left: 20px;
}

a {
  text-decoration: none;
}
a:link {
  color: rgb(0, 119, 225);
}
a:visited {
  color: rgb(252, 53, 3);
}
a:hover {
  color: rgb(250, 222, 12);
}
a:active {
  color: rgb(250, 222, 12);
}
