html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
div {
  color: white;
  position: absolute;
  background-color: rgb(10, 10, 10);
  opacity: 0.9;
  font-family: "Lucida Console", Courier, monospace;
}
